@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #8e6171 !important;
}

#quote-box {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
